<div class="col-10 offset-1 about">
  <h1>About</h1>

  <p>
    This page was built by <a target="_blank" href="https://github.com/christopheroye">Christopher Oye</a>. A Content Engineer.
  </p>
  <br />
  <p>
   As a Content Engineer my aim is to blend Content Development and Software Engineering principals to create immersive experiences through language and code.
  </p>

  <div class="row">
    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Christopher Oye</h2>
      <br />
      <p>
        Christopher Oye is a Content Engineer. Previously a Technical Writer for Asurion. (<a target="_blank" href="http://bostinno.streetwise.co/2011/04/13/nearbuys-where-rolls-out-daily-deals/">a mobile device tech support company</a>).
      </p>
    </div>
  </div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />