<div class="col-10 offset-1 about">
  <h1>About</h1>
  <br />
  <h5>
    This page was built by <a target="_blank" href="https://github.com/christopheroye">Christopher Oye</a>
  </h5><br />
  <p>
        Christopher Oye is a Technical Writer. He most recently contributed to the support knowledge and user experience for <a target="_blank" href="https://www.soluto.com/">Soluto by Asurion</a>, creating an all-inclusive, self-service support platform for major wireless carriers and retailers. 
  </p>
  <br />

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>
  </div>
  <br class="clear" />
<br />
<br />
<br />
<br />